{{ define "fuzz corpus secrets" }}
  - id: FUZZ_S3_ENDPOINT
    env: FUZZ_S3_ENDPOINT
  - id: FUZZ_S3_ACCESS_KEY
    env: FUZZ_S3_ACCESS_KEY
  - id: FUZZ_S3_SECRET_KEY
    env: FUZZ_S3_SECRET_KEY
{{ end }}
